* {
  padding: 0;
  margin: 0;
  background-origin: padding-box;
  font-family: 'Orbitron', sans-serif;
}

html {
  font-size: 16px;
  background-color: #a18d8d;
}

.calculator {
  position: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calc-container {
  background-color: #302d2d;
  width: 600px;
  height: auto;
  border-radius: 0 0 30px 30px;
}

.out {
  width: 100%;
}

.op {
  width: 600px;
  height: 70px;
  color: #ff0000;
  font-size: 1.9em;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.op-value {
  position: absolute;
  bottom: 5px;
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.res {
  width: 600px;
  height: 140px;
  color: rgb(226, 8, 8);
  font-size: 2.6em;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.res-value {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.in {
  background-color: rgb(133, 121, 121);
  border-radius: 0 0 25px 25px;
  border: 1px solid #1d1d1d;
  height: 340px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row button {
  width: 50px;
  height: 50px;
  font-size: 1em;
  border: none;
  border-radius: 50%;
  background-color: #ecece6;
  margin: 8px;
  cursor: pointer;
}

.row button:hover {
  font-weight: bold;
  font-size: 1.5em;
}

.row #calculate {
  color: #fff;
  background-color: #46e0bc;
  width: 121px;
  border-radius: 50px;
}
.row #delete {
  color: #fff;
  background-color: #e05046;
}

#division,
#multiplication,
#subtraction,
#addition,
#clear {
  color: #18b893;
}

.in button sup {
  font-size: 0.6em;
  position: absolute;
}

.angle {
  background-color: #413f3f !important;
  color: #fff !important;
  border-radius: 10px !important;
}
